@tailwind base;
@tailwind components;
@tailwind utilities;

/* global CSS styles can go here */

@layer base {
    h1 {
        @apply text-4xl font-normal;
    }

    h1::before {
        content: "h1 ";
        @apply text-xs text-slate-500;
    }

    h2 {
        @apply text-3xl font-normal;
    }

    h2::before {
        content: "h2 ";
        @apply text-xs text-slate-500;
    }

    h3 {
        @apply text-2xl font-normal;
    }

    h3::before {
        content: "h3 ";
        @apply text-xs text-slate-500;
    }

    h4 {
        @apply text-xl;
    }

    h4::before {
        content: "h4 ";
        @apply text-xs text-slate-500;
    }

    h5 {
        @apply text-lg;
    }

    h5::before {
        content: "h5 ";
        @apply text-xs text-slate-500;

    }

    h6 {
        @apply text-base;
    }

    h6::before {
        content: "h6 ";
        @apply text-xs text-slate-500;
    }

    a {
        @apply text-blue-600 underline;
    }

    a::before {
        content: "link ";
        @apply text-sm cursor-pointer;
    }

    p {
        @apply my-[1px]
    }

    p::before {
        /* content: ""; 
        @apply text-sm cursor-pointer; */
    }

    blockquote {
        @apply text-base font-sans font-bold border-l-4 border-slate-700 pl-2 bg-amber-100 bg-opacity-75 rounded;
    }

    blockquote::before {
        content: '';
        @apply text-sm cursor-pointer;
    }

    blockquote::after {
        content: '';
        @apply text-sm cursor-pointer;
    }

    code {
        @apply bg-black bg-opacity-10 p-1 rounded;
    }

    code::before {
        content: "`";
        @apply text-xs;
    }

    code::after {
        content: "`";
        @apply text-xs;
    }

    pre {
        @apply bg-black bg-opacity-25 p-[.75px] rounded-sm my-1;
    }

    pre::before {
        /* content: "```"; */
    }

    pre::after {
        /* content: "```"; */
    }

    pre code {
        @apply bg-opacity-0;
    }

    pre code::before {
        content: "";
    }

    pre code::after {
        content: "";
    }

}