@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1::before {
        content: "h1";
        @apply text-xs text-slate-500 -ml-[14px] -left-3 relative;
    }

    h2::before {
        content: "h2";
        @apply text-xs text-slate-500 -ml-[14px] -left-3 relative;
    }

    h3::before {
        content: "h3";
        @apply text-xs text-slate-500 -ml-[14px] -left-3 relative;
    }

    h4::before {
        content: "h4";
        @apply text-xs text-slate-500 -ml-[14px] -left-3 relative;
    }

    h5::before {
        content: "h5";
        @apply text-xs text-slate-500 -ml-[14px] -left-3 relative;

    }

    h6::before {
        content: "h6";
        @apply text-xs text-slate-500 -ml-[14px] -left-3 relative;
    }

    a {
        @apply text-sm cursor-pointer;
    }

    a::before {
        content: "[";
        @apply text-sm cursor-pointer;
    }

    a::after {
        content: "]";
        @apply text-sm cursor-pointer;
    }

    blockquote::before {
        content: '';
        @apply text-sm cursor-pointer;
    }

    blockquote::after {
        content: '';
        @apply text-sm cursor-pointer;
    }

    /*  code::before {
        content: "`";
        @apply text-xs;
    }

    code::after {
        content: "`";
        @apply text-xs;
    } */

    pre::before {
        content: "</>";
        @apply text-xs text-slate-500 -ml-[20px] -left-3 relative text-opacity-100 z-10;
    }

    pre code::before {
        content: "";
    }

    pre code::after {
        content: "";
    }

}

.fade-in {
    animation: fadeIn 5s forwards;
    -webkit-animation: fadeIn 5s forwards;
    -moz-animation: fadeIn 5s forwards;
    -o-animation: fadeIn 5s forwards;
    -ms-animation: fadeIn 5s forwards;
}
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

main {
    background: linear-gradient(90deg, #24052b, #000000, #eae2eb, #24052b);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}